openapi: 3.0.3
info:
  title: Weight Training Workout Tracker API
  description: Minimal API for logging weight-training sessions, exercises, and sets.
  version: 1.1.0
  contact:
    name: Workout Tracker Team

servers:
  - url: https://api.workout-tracker.com/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Development

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      summary: Log in
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

  /users:
    post:
      summary: Register
      security: []
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

  /users/me:
    get:
      summary: Current user
      tags: [Users]
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      summary: Update current user
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
    delete:
      summary: Delete current user and all sessions
      tags: [Users]
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'

  /workout-types:
    post:
      summary: Create workout type
      tags: [WorkoutTypes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutTypeWrite'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
    get:
      summary: List workout types
      tags: [WorkoutTypes]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Catalog page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorkoutTypes'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /workout-types/{workoutTypeId}:
    parameters:
      - $ref: '#/components/parameters/WorkoutTypeId'
    get:
      summary: Get workout type
      tags: [WorkoutTypes]
      responses:
        '200':
          description: Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update workout type
      tags: [WorkoutTypes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutTypeWrite'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutType'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
    delete:
      summary: Delete workout type
      description: Fails with 409 if any workout references this type.
      tags: [WorkoutTypes]
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Type is in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'

  /sessions:
    post:
      summary: Create session
      description: Optionally nest workouts and sets. Nested create is atomic.
      tags: [Sessions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      summary: List current user's sessions
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Session page (newest first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSessions'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sessions/{sessionId}:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    get:
      summary: Get session with workouts and sets
      tags: [Sessions]
      responses:
        '200':
          description: Session detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update session (atomic update of metadata and nested exercises/sets)
      tags: [Sessions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionUpdate'
      responses:
        '200':
          description: Updated session with child exercises and sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete session (cascades workouts and sets)
      tags: [Sessions]
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workouts:
    post:
      summary: Add an exercise to a session
      tags: [Workouts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      summary: List workouts
      tags: [Workouts]
      parameters:
        - name: session_id
          in: query
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Workout page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorkouts'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /workouts/{workoutId}:
    parameters:
      - $ref: '#/components/parameters/WorkoutId'
    get:
      summary: Get workout with sets
      tags: [Workouts]
      responses:
        '200':
          description: Workout detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update workout metadata
      tags: [Workouts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutUpdate'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete workout (cascades sets)
      tags: [Workouts]
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /workout-sets:
    post:
      summary: Add a set to a workout
      tags: [Sets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutSetCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutSet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: set_number already exists on this workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
    get:
      summary: List sets
      tags: [Sets]
      parameters:
        - name: workout_id
          in: query
          schema:
            type: integer
            format: int64
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Set page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorkoutSets'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /workout-sets/{workoutSetId}:
    parameters:
      - $ref: '#/components/parameters/WorkoutSetId'
    get:
      summary: Get set
      tags: [Sets]
      responses:
        '200':
          description: Set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutSet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update set
      tags: [Sets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutSetWrite'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutSet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: set_number already exists on this workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
    delete:
      summary: Delete set
      tags: [Sets]
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: session_token

  parameters:
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
    WorkoutTypeId:
      name: workoutTypeId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        example: 1
    SessionId:
      name: sessionId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        example: 1
    WorkoutId:
      name: workoutId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        example: 1
    WorkoutSetId:
      name: workoutSetId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        example: 1

  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    Unauthorized:
      description: Missing or invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'

  schemas:
    ErrorBody:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
            details:
              type: object
              additionalProperties: true

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: john.doe@example.com
        password:
          type: string
          example: password123

    LoginResponse:
      type: object
      required: [token, user]
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserCreate:
      type: object
      required: [name, email, password]
      properties:
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        password:
          type: string
          minLength: 8
          example: securepassword123

    UserUpdate:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8

    WorkoutType:
      type: object
      properties:
        workout_type_id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Bench Press
        description:
          type: string
          nullable: true
        is_custom:
          type: boolean
          readOnly: true
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkoutTypeWrite:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: Bench Press
        description:
          type: string
          nullable: true

    Session:
      type: object
      properties:
        session_id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        started_at:
          type: string
          format: date-time
          example: '2026-09-02T18:00:00-04:00'
        ended_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-09-02T19:15:00-04:00'
        duration_minutes:
          type: number
          nullable: true
          example: 75.0
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SessionSummary:
      allOf:
        - $ref: '#/components/schemas/Session'
        - type: object
          properties:
            exercise_count:
              type: integer
              example: 4
            total_sets:
              type: integer
              example: 14
            exercise_names_preview:
              type: string
              example: Bench Press, Overhead Press, Bicep Curl
            working_volume:
              type: number
              example: 14250.0
            primary_unit:
              type: string
              example: lbs

    SessionCreate:
      type: object
      required: [started_at]
      properties:
        started_at:
          type: string
          format: date-time
          example: '2026-09-02T18:00:00-04:00'
        ended_at:
          type: string
          format: date-time
          nullable: true
          example: '2026-09-02T19:15:00-04:00'
        notes:
          type: string
          example: Upper body workout
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutNestedCreate'

    SessionUpdate:
      type: object
      properties:
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        notes:
          type: string
          nullable: true
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutNestedCreate'

    SessionDetail:
      allOf:
        - $ref: '#/components/schemas/Session'
        - type: object
          properties:
            workouts:
              type: array
              items:
                $ref: '#/components/schemas/WorkoutDetail'

    Workout:
      type: object
      properties:
        workout_id:
          type: integer
          format: int64
        session_id:
          type: integer
          format: int64
        workout_type_id:
          type: integer
          format: int64
        display_order:
          type: integer
          example: 0
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkoutNestedCreate:
      type: object
      required: [workout_type_id]
      properties:
        workout_type_id:
          type: integer
          format: int64
        display_order:
          type: integer
          default: 0
        notes:
          type: string
          nullable: true
        sets:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutSetWrite'

    WorkoutCreate:
      allOf:
        - type: object
          required: [session_id]
          properties:
            session_id:
              type: integer
              format: int64
              example: 1
        - $ref: '#/components/schemas/WorkoutNestedCreate'

    WorkoutUpdate:
      type: object
      properties:
        workout_type_id:
          type: integer
          format: int64
        display_order:
          type: integer
        notes:
          type: string
          nullable: true

    WorkoutDetail:
      allOf:
        - $ref: '#/components/schemas/Workout'
        - type: object
          properties:
            sets:
              type: array
              items:
                $ref: '#/components/schemas/WorkoutSet'

    WorkoutSet:
      type: object
      properties:
        workout_set_id:
          type: integer
          format: int64
        workout_id:
          type: integer
          format: int64
        set_number:
          type: integer
          example: 1
        reps:
          type: integer
          example: 8
        weight:
          type: number
          nullable: true
          example: 185.5
        weight_unit:
          type: string
          enum: [kg, lbs]
          example: lbs
        is_warmup:
          type: boolean
          default: false
          example: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WorkoutSetWrite:
      type: object
      required: [set_number, reps, weight_unit]
      properties:
        set_number:
          type: integer
          minimum: 1
          example: 1
        reps:
          type: integer
          minimum: 1
          example: 8
        weight:
          type: number
          nullable: true
          minimum: 0
          example: 185.5
        weight_unit:
          type: string
          enum: [kg, lbs]
          example: lbs
        is_warmup:
          type: boolean
          default: false
          example: false

    WorkoutSetCreate:
      allOf:
        - type: object
          required: [workout_id]
          properties:
            workout_id:
              type: integer
              format: int64
              example: 1
        - $ref: '#/components/schemas/WorkoutSetWrite'

    PaginatedWorkoutTypes:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutType'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    PaginatedSessions:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SessionSummary'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    PaginatedWorkouts:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Workout'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    PaginatedWorkoutSets:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutSet'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
